<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\App_N\packages.config" />
  <repository path="..\App_Net.Web.Service\packages.config" />
  <repository path="..\App_Net.Web.WebApplication\packages.config" />
  <repository path="..\App_Net\packages.config" />
</repositories>